<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ui-pack-fish-26</key>
        <dict>
            <key>frame</key>
            <string>{{2,2},{176,107}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{176,107}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-15</key>
        <dict>
            <key>frame</key>
            <string>{{2,113},{155,68}}</string>
            <key>offset</key>
            <string>{1,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,9},{155,68}}</string>
            <key>sourceSize</key>
            <string>{157,86}</string>
        </dict>
        <key>ui-pack-fish-18</key>
        <dict>
            <key>frame</key>
            <string>{{2,185},{151,64}}</string>
            <key>offset</key>
            <string>{-3,-5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,16},{151,64}}</string>
            <key>sourceSize</key>
            <string>{157,86}</string>
        </dict>
        <key>ui-pack-fish-13</key>
        <dict>
            <key>frame</key>
            <string>{{2,253},{145,61}}</string>
            <key>offset</key>
            <string>{2,-11}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{4,35},{145,61}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-24</key>
        <dict>
            <key>frame</key>
            <string>{{2,318},{140,75}}</string>
            <key>offset</key>
            <string>{-2,-7}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{16,23},{140,75}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-9</key>
        <dict>
            <key>frame</key>
            <string>{{2,397},{139,105}}</string>
            <key>offset</key>
            <string>{-5,-2}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,4},{139,105}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-21</key>
        <dict>
            <key>frame</key>
            <string>{{145,397},{139,56}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{4,0},{139,56}}</string>
            <key>sourceSize</key>
            <string>{147,56}</string>
        </dict>
        <key>ui-pack-fish-27</key>
        <dict>
            <key>frame</key>
            <string>{{151,253},{138,77}}</string>
            <key>offset</key>
            <string>{-1,-3}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{18,18},{138,77}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-16</key>
        <dict>
            <key>frame</key>
            <string>{{161,113},{137,66}}</string>
            <key>offset</key>
            <string>{4,2}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{14,8},{137,66}}</string>
            <key>sourceSize</key>
            <string>{157,86}</string>
        </dict>
        <key>ui-pack-fish-7</key>
        <dict>
            <key>frame</key>
            <string>{{182,2},{135,81}}</string>
            <key>offset</key>
            <string>{0,1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{4,7},{135,81}}</string>
            <key>sourceSize</key>
            <string>{143,97}</string>
        </dict>
        <key>ui-pack-fish-17</key>
        <dict>
            <key>frame</key>
            <string>{{321,2},{135,82}}</string>
            <key>offset</key>
            <string>{4,-2}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{15,4},{135,82}}</string>
            <key>sourceSize</key>
            <string>{157,86}</string>
        </dict>
        <key>ui-pack-fish-22</key>
        <dict>
            <key>frame</key>
            <string>{{302,88},{134,79}}</string>
            <key>offset</key>
            <string>{-17,8}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{4,6},{134,79}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-19</key>
        <dict>
            <key>frame</key>
            <string>{{302,171},{133,70}}</string>
            <key>offset</key>
            <string>{5,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{17,12},{133,70}}</string>
            <key>sourceSize</key>
            <string>{157,86}</string>
        </dict>
        <key>ui-pack-fish-6</key>
        <dict>
            <key>frame</key>
            <string>{{293,245},{131,83}}</string>
            <key>offset</key>
            <string>{6,1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{12,6},{131,83}}</string>
            <key>sourceSize</key>
            <string>{143,97}</string>
        </dict>
        <key>ui-pack-fish-10</key>
        <dict>
            <key>frame</key>
            <string>{{288,334},{131,97}}</string>
            <key>offset</key>
            <string>{-4,3}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{5,3},{131,97}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-11</key>
        <dict>
            <key>frame</key>
            <string>{{288,435},{131,97}}</string>
            <key>offset</key>
            <string>{-4,-2}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{5,8},{131,97}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-29</key>
        <dict>
            <key>frame</key>
            <string>{{145,457},{131,103}}</string>
            <key>offset</key>
            <string>{9,-1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{18,5},{131,103}}</string>
            <key>sourceSize</key>
            <string>{149,111}</string>
        </dict>
        <key>ui-pack-fish-5</key>
        <dict>
            <key>frame</key>
            <string>{{2,506},{129,69}}</string>
            <key>offset</key>
            <string>{3,-6}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{10,20},{129,69}}</string>
            <key>sourceSize</key>
            <string>{143,97}</string>
        </dict>
        <key>ui-pack-fish-33</key>
        <dict>
            <key>frame</key>
            <string>{{280,536},{129,103}}</string>
            <key>offset</key>
            <string>{10,-2}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{20,6},{129,103}}</string>
            <key>sourceSize</key>
            <string>{149,111}</string>
        </dict>
        <key>ui-pack-fish-20</key>
        <dict>
            <key>frame</key>
            <string>{{135,564},{127,86}}</string>
            <key>offset</key>
            <string>{-2,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{13,0},{127,86}}</string>
            <key>sourceSize</key>
            <string>{157,86}</string>
        </dict>
        <key>ui-pack-fish-1</key>
        <dict>
            <key>frame</key>
            <string>{{2,579},{126,79}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{126,79}}</string>
            <key>sourceSize</key>
            <string>{126,79}</string>
        </dict>
        <key>ui-pack-fish-28</key>
        <dict>
            <key>frame</key>
            <string>{{266,643},{124,77}}</string>
            <key>offset</key>
            <string>{-14,1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{12,14},{124,77}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-23</key>
        <dict>
            <key>frame</key>
            <string>{{132,654},{124,75}}</string>
            <key>offset</key>
            <string>{-16,12}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{10,4},{124,75}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-4</key>
        <dict>
            <key>frame</key>
            <string>{{2,662},{123,75}}</string>
            <key>offset</key>
            <string>{-4,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{6,15},{123,75}}</string>
            <key>sourceSize</key>
            <string>{143,97}</string>
        </dict>
        <key>ui-pack-fish-25</key>
        <dict>
            <key>frame</key>
            <string>{{157,185},{118,61}}</string>
            <key>offset</key>
            <string>{-9,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{20,27},{118,61}}</string>
            <key>sourceSize</key>
            <string>{176,107}</string>
        </dict>
        <key>ui-pack-fish-31</key>
        <dict>
            <key>frame</key>
            <string>{{394,643},{111,109}}</string>
            <key>offset</key>
            <string>{3,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{22,1},{111,109}}</string>
            <key>sourceSize</key>
            <string>{149,111}</string>
        </dict>
        <key>ui-pack-fish-34</key>
        <dict>
            <key>frame</key>
            <string>{{260,724},{111,95}}</string>
            <key>offset</key>
            <string>{-7,-6}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{12,14},{111,95}}</string>
            <key>sourceSize</key>
            <string>{149,111}</string>
        </dict>
        <key>ui-pack-fish-8</key>
        <dict>
            <key>frame</key>
            <string>{{129,733},{111,93}}</string>
            <key>offset</key>
            <string>{3,-1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{22,9},{111,93}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-32</key>
        <dict>
            <key>frame</key>
            <string>{{2,741},{109,101}}</string>
            <key>offset</key>
            <string>{1,-5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{21,10},{109,101}}</string>
            <key>sourceSize</key>
            <string>{149,111}</string>
        </dict>
        <key>ui-pack-fish-2</key>
        <dict>
            <key>frame</key>
            <string>{{375,756},{103,97}}</string>
            <key>offset</key>
            <string>{-8,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{12,0},{103,97}}</string>
            <key>sourceSize</key>
            <string>{143,97}</string>
        </dict>
        <key>ui-pack-fish-14</key>
        <dict>
            <key>frame</key>
            <string>{{244,823},{101,81}}</string>
            <key>offset</key>
            <string>{-1,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{23,18},{101,81}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-30</key>
        <dict>
            <key>frame</key>
            <string>{{413,536},{97,103}}</string>
            <key>offset</key>
            <string>{-6,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{20,8},{97,103}}</string>
            <key>sourceSize</key>
            <string>{149,111}</string>
        </dict>
        <key>ui-pack-fish-3</key>
        <dict>
            <key>frame</key>
            <string>{{115,830},{97,81}}</string>
            <key>offset</key>
            <string>{-6,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{17,8},{97,81}}</string>
            <key>sourceSize</key>
            <string>{143,97}</string>
        </dict>
        <key>ui-pack-fish-2_</key>
        <dict>
            <key>frame</key>
            <string>{{440,88},{68,75}}</string>
            <key>offset</key>
            <string>{1,7}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,0},{68,75}}</string>
            <key>sourceSize</key>
            <string>{70,89}</string>
        </dict>
        <key>ui-pack-fish-1_</key>
        <dict>
            <key>frame</key>
            <string>{{440,167},{67,88}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{67,88}}</string>
            <key>sourceSize</key>
            <string>{67,88}</string>
        </dict>
        <key>ui-pack-fish-24_</key>
        <dict>
            <key>frame</key>
            <string>{{428,259},{65,68}}</string>
            <key>offset</key>
            <string>{1,-16}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,36},{65,68}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-7_</key>
        <dict>
            <key>frame</key>
            <string>{{428,331},{64,87}}</string>
            <key>offset</key>
            <string>{-2,-1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{1,2},{64,87}}</string>
            <key>sourceSize</key>
            <string>{70,89}</string>
        </dict>
        <key>ui-pack-fish-14_</key>
        <dict>
            <key>frame</key>
            <string>{{423,422},{64,69}}</string>
            <key>offset</key>
            <string>{0,-6}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,28},{64,69}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-8_</key>
        <dict>
            <key>frame</key>
            <string>{{2,915},{64,69}}</string>
            <key>offset</key>
            <string>{0,-8}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,30},{64,69}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-12_</key>
        <dict>
            <key>frame</key>
            <string>{{216,908},{62,113}}</string>
            <key>offset</key>
            <string>{-1,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{62,113}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-33_</key>
        <dict>
            <key>frame</key>
            <string>{{146,334},{62,58}}</string>
            <key>offset</key>
            <string>{1,5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,5},{62,58}}</string>
            <key>sourceSize</key>
            <string>{64,78}</string>
        </dict>
        <key>ui-pack-fish-29_</key>
        <dict>
            <key>frame</key>
            <string>{{212,334},{62,58}}</string>
            <key>offset</key>
            <string>{-1,5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,5},{62,58}}</string>
            <key>sourceSize</key>
            <string>{64,78}</string>
        </dict>
        <key>ui-pack-fish-31_</key>
        <dict>
            <key>frame</key>
            <string>{{2,846},{62,60}}</string>
            <key>offset</key>
            <string>{-1,6}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,3},{62,60}}</string>
            <key>sourceSize</key>
            <string>{64,78}</string>
        </dict>
        <key>ui-pack-fish-9_</key>
        <dict>
            <key>frame</key>
            <string>{{70,915},{62,79}}</string>
            <key>offset</key>
            <string>{-1,5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,12},{62,79}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-30_</key>
        <dict>
            <key>frame</key>
            <string>{{136,915},{62,60}}</string>
            <key>offset</key>
            <string>{1,5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,4},{62,60}}</string>
            <key>sourceSize</key>
            <string>{64,78}</string>
        </dict>
        <key>ui-pack-fish-32_</key>
        <dict>
            <key>frame</key>
            <string>{{282,908},{62,70}}</string>
            <key>offset</key>
            <string>{-1,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,4},{62,70}}</string>
            <key>sourceSize</key>
            <string>{64,78}</string>
        </dict>
        <key>ui-pack-fish-28_</key>
        <dict>
            <key>frame</key>
            <string>{{348,908},{61,74}}</string>
            <key>offset</key>
            <string>{-2,-9}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{1,26},{61,74}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-23_</key>
        <dict>
            <key>frame</key>
            <string>{{413,857},{61,56}}</string>
            <key>offset</key>
            <string>{-3,-16}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,42},{61,56}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-13_</key>
        <dict>
            <key>frame</key>
            <string>{{413,917},{60,71}}</string>
            <key>offset</key>
            <string>{2,-3}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{4,24},{60,71}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-10_</key>
        <dict>
            <key>frame</key>
            <string>{{460,2},{60,79}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,17},{60,79}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-4_</key>
        <dict>
            <key>frame</key>
            <string>{{477,917},{60,73}}</string>
            <key>offset</key>
            <string>{-3,7}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,1},{60,73}}</string>
            <key>sourceSize</key>
            <string>{70,89}</string>
        </dict>
        <key>ui-pack-fish-6_</key>
        <dict>
            <key>frame</key>
            <string>{{491,422},{60,79}}</string>
            <key>offset</key>
            <string>{-4,3}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{1,2},{60,79}}</string>
            <key>sourceSize</key>
            <string>{70,89}</string>
        </dict>
        <key>ui-pack-fish-11_</key>
        <dict>
            <key>frame</key>
            <string>{{482,756},{60,89}}</string>
            <key>offset</key>
            <string>{1,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{3,12},{60,89}}</string>
            <key>sourceSize</key>
            <string>{64,113}</string>
        </dict>
        <key>ui-pack-fish-26_</key>
        <dict>
            <key>frame</key>
            <string>{{496,331},{59,72}}</string>
            <key>offset</key>
            <string>{-4,-10}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,28},{59,72}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-27_</key>
        <dict>
            <key>frame</key>
            <string>{{497,259},{59,66}}</string>
            <key>offset</key>
            <string>{-1,-18}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{3,39},{59,66}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-22_</key>
        <dict>
            <key>frame</key>
            <string>{{509,643},{59,108}}</string>
            <key>offset</key>
            <string>{-1,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{3,0},{59,108}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-15_</key>
        <dict>
            <key>frame</key>
            <string>{{511,167},{58,85}}</string>
            <key>offset</key>
            <string>{0,-9}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,26},{58,85}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-19_</key>
        <dict>
            <key>frame</key>
            <string>{{555,407},{58,89}}</string>
            <key>offset</key>
            <string>{0,-5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,20},{58,89}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-25_</key>
        <dict>
            <key>frame</key>
            <string>{{482,849},{57,64}}</string>
            <key>offset</key>
            <string>{-1,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{4,26},{57,64}}</string>
            <key>sourceSize</key>
            <string>{67,108}</string>
        </dict>
        <key>ui-pack-fish-12</key>
        <dict>
            <key>frame</key>
            <string>{{541,917},{57,105}}</string>
            <key>offset</key>
            <string>{-13,2}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{33,0},{57,105}}</string>
            <key>sourceSize</key>
            <string>{149,109}</string>
        </dict>
        <key>ui-pack-fish-21_</key>
        <dict>
            <key>frame</key>
            <string>{{560,256},{56,97}}</string>
            <key>offset</key>
            <string>{1,-1}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{2,12},{56,97}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-20_</key>
        <dict>
            <key>frame</key>
            <string>{{546,755},{56,87}}</string>
            <key>offset</key>
            <string>{-1,-5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,21},{56,87}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-16_</key>
        <dict>
            <key>frame</key>
            <string>{{572,643},{50,89}}</string>
            <key>offset</key>
            <string>{3,-6}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{7,21},{50,89}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-5_</key>
        <dict>
            <key>frame</key>
            <string>{{524,2},{50,81}}</string>
            <key>offset</key>
            <string>{-5,4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{5,0},{50,81}}</string>
            <key>sourceSize</key>
            <string>{70,89}</string>
        </dict>
        <key>ui-pack-fish-17_</key>
        <dict>
            <key>frame</key>
            <string>{{573,87},{48,91}}</string>
            <key>offset</key>
            <string>{3,-5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{8,19},{48,91}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-18_</key>
        <dict>
            <key>frame</key>
            <string>{{617,357},{40,119}}</string>
            <key>offset</key>
            <string>{1,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{10,0},{40,119}}</string>
            <key>sourceSize</key>
            <string>{58,119}</string>
        </dict>
        <key>ui-pack-fish-34_</key>
        <dict>
            <key>frame</key>
            <string>{{578,2},{34,78}}</string>
            <key>offset</key>
            <string>{2,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{17,0},{34,78}}</string>
            <key>sourceSize</key>
            <string>{64,78}</string>
        </dict>
        <key>ui-pack-fish-3_</key>
        <dict>
            <key>frame</key>
            <string>{{512,87},{34,71}}</string>
            <key>offset</key>
            <string>{-4,-3}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{14,12},{34,71}}</string>
            <key>sourceSize</key>
            <string>{70,89}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>fish.png</string>
        <key>size</key>
        <string>{659,1023}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:$</string>
        <key>textureFileName</key>
        <string>fish.png</string>
    </dict>
</dict>
</plist>